NEXT_PUBLIC_APP_URL=https://similaritycheck.genevidence.com
NEXT_PUBLIC_SITE_URL=https://similaritycheck.genevidence.com
NEXT_PUBLIC_API_BASE_URL=https://api-similaritycheck.genevidence.com
APP_NAME="Genevidence Similarity Check"
